.papers
  .papers__container
    .paper.paper-1(style='background-image: url(images/papers/1.png)')
    .paper.paper-2(style='background-image: url(images/papers/2.png)')
    .paper.paper-3(style='background-image: url(images/papers/3.png)')
